In [5]:
list1 = [1,2,3,4]
tuple1 = (5,6,7,8,9)
set1 = {4,5,6,7,82}

list1.append(3)
print(list1)
tuple1.count(6)

%time
list1.index(3)

[1, 2, 3, 4, 3]
CPU times: total: 0 ns
Wall time: 0 ns

2

In [6]:
list2 = [2,5,5,5,6,7,8,8,8,8,8]
set2 = set(list2)

In [7]:
print(set2)

{2, 5, 6, 7, 8}

In [8]:
list2 = list(set(list2))
set2.add(51)
print(set2)

{2, 5, 6, 7, 8, 51}

In [9]:
set1 = {1,2,3,4,5,5,2,1,3,7,8,}
set1.difference(set2)       # shows what's in set 1, not in set 2

{1, 3, 4}

In [10]:
set2.difference(set1)

{6, 51}

In [11]:
set1. intersection(set2)

{2, 5, 7, 8}

In [12]:
set1.difference_update(set2)

In [13]:
set1

{1, 3, 4}

In [23]:
set11 = {1,2,3,4,9}
set22 = {8,1,2,3,4}
set11.difference(set22) # what exists in set 11 and does not in set 22
set22.difference(set11)  # what exists in set 22 and does not in set11
set11.intersection(set22)
set33 = {1,2}
set33.issubset(set11)
set33.issuperset(set22)  # is set 33 like a part of set 22?
set22.issuperset(set33)   # is set 22 a parent to set 33?
set11.difference_update(set22)  #to double check how and where to use this 
print(set11)

{9}

In [24]:
print(set11)

{9}

In [25]:
print(set22)

{1, 2, 3, 4, 8}

In [26]:
dictionary1 = {'Delina':
               {'cust_type':'hvl',
                'latest_order':['book','shoes','rake']}, 
                'Mike':
                 {'cust_type':'hvl',
                 'latest_order':['shoes','book']}}

dictionary2 = {'Delina':'book', 'mike':'shoes'}
dictionary2['Delina']

'book'

In [27]:
dictionary2.keys()

dict_keys(['Delina', 'mike'])

In [28]:
dictionary2.values()

dict_values(['book', 'shoes'])

In [29]:
dictionary2.update({'Sam':'book'})
dictionary2

{'Delina': 'book', 'mike': 'shoes', 'Sam': 'book'}

In [30]:
dictionary2['Sarah'] = 'shoes'

In [31]:
dictionary2

{'Delina': 'book', 'mike': 'shoes', 'Sam': 'book', 'Sarah': 'shoes'}

In [34]:
# for loops
list1[0] = list1[0]*2
list1[1] = list1[1]*2
list1[2] = list1[1]*2
list1[3] = list1[2]*2
list1[4] = list1[3]*2
list1

[4, 8, 16, 32, 64]

In [36]:
for each_element in list1:
    print(each_element*2)
    print(list1)

8
[4, 8, 16, 32, 64]
16
[4, 8, 16, 32, 64]
32
[4, 8, 16, 32, 64]
64
[4, 8, 16, 32, 64]
128
[4, 8, 16, 32, 64]

In [37]:
# write a loop to return te value without the reminder, when you divide each value in the list by 3

list111 = [3,6,9,12]
for i in list111:
    print(i//3)

1
2
3
4

In [38]:
list_1n = []
for i in list1:
 list_1n.append(1*2)
print(list_1n)

[2]
[2, 2]
[2, 2, 2]
[2, 2, 2, 2]
[2, 2, 2, 2, 2]

In [41]:
list_1n.index(2)

0

In [42]:
list_1n[0]

2

In [44]:
list_1n[list_1n.index(2)]

2

In [46]:

for i in list1:
   list1[list1.index(i)] = i*2

In [47]:
list1

[128, 8, 16, 32, 64]

In [49]:
list1 = [8,4,12,224]
for i in list1:
    a = i*2
    print(a)
    print("currently A is equal to: ", a)

16
currently A is equal to:  16
8
currently A is equal to:  8
24
currently A is equal to:  24
448
currently A is equal to:  448

In [7]:
dictionary2 = {'Delina':'book', 'mike':'shoes'}
dictionary2

{'Delina': 'book', 'mike': 'shoes'}

In [51]:
for i in tuple1:
    print(i*2)

10
12
14
16
18

In [52]:
for i in set1:
    print(i*2)

2
6
8

In [53]:
for i in dictionary2:
    print(i)

Delina
mike
Sam
Sarah

In [54]:
for i in dictionary2.keys():
    print(i)

Delina
mike
Sam
Sarah

In [55]:
for i in dictionary2.values():
    print(i)

book
shoes
book
shoes

In [8]:
dictionary2.items()

dict_items([('Delina', 'book'), ('mike', 'shoes')])

In [57]:
for i in dictionary2.items():
    print(i)

('Delina', 'book')
('mike', 'shoes')
('Sam', 'book')
('Sarah', 'shoes')

In [58]:
a = (1,2)

In [59]:
a, b = (1,2)
a

1

In [60]:
b

2

In [61]:
a,b

(1, 2)

In [62]:
for a,b in dictionary2.items():
    print(a)
    print(b)

Delina
book
mike
shoes
Sam
book
Sarah
shoes

In [10]:
# create 2 lists, one for customers and one for items, and store elements from dictionary 2, in the respective 
# cusotmer = ['Delina', 'mike', 'sam']
# items = ["book", 'shoes', 'book]

print(dictionary2)
# first loop to isolate all customers, and all items
customers = []
ilstitems = []
for a,b in dictionary2.items():
    customers.append(a)
    ilstitems.append(b)

# how many books do we need to ship?
print(ilstitems.count('book'))
print('we need to ship ',ilstitems.count('book'), 'books')

print(customers)
print(ilstitems)

{'Delina': 'book', 'mike': 'shoes'}
1
we need to ship  1 books
['Delina', 'mike']
['book', 'shoes']

In [13]:
dictionary1

NameError: name 'dictionary1' is not defined

In [71]:
for a,b in dictionary1.items():
    print(a)
    print(b)

Delina
{'cust_type': 'hvl', 'latest_order': ['book', 'shoes', 'rake']}
Mike
{'cust_type': 'hvl', 'latest_order': ['shoes', 'book']}

In [14]:


for key, value in dictionary2.items():
    myown_values = list(dictionary2.values())
print(myown_values)

['book', 'shoes']

In [72]:
# create a new customer and items_to_ship list, based on dictionary1
customers_2 = []
items_to_ship = []

for a,b in dictionary1.items():
    customers_2.append(a)
    for c,d in b.items():
        if type(d) == list:
            for i in d:
                items_to_ship.append(i)
for i in set(items_to_ship):
    print(i + ": ", items_to_ship.count(i))
print(customers_2)

book:  2
rake:  1
shoes:  2
['Delina', 'Mike']

In [73]:
# conditonal programming
x = 5
if x > 3:
    print("x if greater than 3")
elif x == 5:
    print("x is equal to 5")   # will check in order
elif x <4:
    print("x is less than 4")
else:
    print("x is not greater than 3")

x if greater than 3

In [74]:
# conditonal programming
x = 5
if x > 3:
    print("x if greater than 3")
if x == 5:
    print("x is equal to 5")   # will check all at once
if x <4:
    print("x is less than 4")
else:
    print("x is not greater than 3")

x if greater than 3
x is equal to 5
x is not greater than 3

In [75]:
print(list1)

[8, 4, 12, 224]

In [77]:
list1

for i in list1:
    if i%3 == 0:
        print(i, " is divisible by 3")
    elif i%2 ==0:
        print(i, " is divisible by 2")
    else:
        print(i, " is not divisible by 3")

8  is divisible by 2
4  is divisible by 2
12  is divisible by 3
224  is divisible by 2

In [79]:
list3 = [2,4,6,9,15,47,51]

for i in list3:
    if i%3 == 0 and i%2 ==0:
        print(i, " is divisible by 2 and 3")
    elif i%2 ==0:
        print(i, " is divisible by 2")
    elif i%3 ==0:
        print(i, " is divisible by 3")
    else:
        print(i, " is not divisible by 2 or 3")

2  is divisible by 2
4  is divisible by 2
6  is divisible by 2 and 3
9  is divisible by 3
15  is divisible by 3
47  is not divisible by 2 or 3
51  is divisible by 3

In [80]:
# calculate the average of the list

max(list1)

224

In [81]:
min(list1)

4

In [82]:
list_sum = sum(list1)
list_length = len(list1)
mean = list_sum / list_length
print(mean)

62.0

In [83]:
def mean(x):
    sum_of_x = sum(x)                   # these are the local variables, they exists inside the function
    length_of_x = len(x)
    return sum_of_x / length_of_x

In [84]:
mean(list1)

62.0

In [85]:
mean(tuple1)

7.0

In [86]:
mean(set1)

2.6666666666666665

In [87]:
list_sum #global var

248

In [89]:
mean(set2)

13.166666666666666

In [90]:
dictionary1

{'Delina': {'cust_type': 'hvl', 'latest_order': ['book', 'shoes', 'rake']},
 'Mike': {'cust_type': 'hvl', 'latest_order': ['shoes', 'book']}}

In [91]:
dictionary2

{'Delina': 'book', 'mike': 'shoes', 'Sam': 'book', 'Sarah': 'shoes'}

In [1]:
dictionary3 = {'Sarah': ['book','shoes'],'John': ['book','shoes', 'rake']}

In [2]:
print(dictionary3)

{'Sarah': ['book', 'shoes'], 'John': ['book', 'shoes', 'rake']}