In [1]:
2+2

4

In [2]:
print("Hello")

Hello

In [3]:
# creating new variables to understand how variables work
x = 5
print(x)

5

In [4]:
x

5

In [5]:
x = 7
print(x)

7

In [6]:
# the print function is an executable function
print(x + 3)

10

In [8]:
# lets create few vars
y = 5.4
z = 'hello'
print(z,x+y)

hello 12.4

In [9]:
type(x)

int

In [13]:
x = 7
y = 5.4
z = "hello"
print(type(x), ",", type(y))

<class 'int'> , <class 'float'>

In [15]:
# math operATIONS
print("addition: ", x+y)
print("subtraction: ", x-y)
print("division: ", x/y)   # regular division
print("multiplication: ", x*y)
print("exponentation: ", x**y)
print("floor division (drops remainder): ", x//y)  # floor divison
print("remainder: ", x%y)

addition:  10.4
subtraction:  -0.40000000000000036
division:  0.9259259259259258
multiplication:  27.0
exponentation:  5948.918558487124
floor division (drops remainder):  0.0
remainder:  5.0

In [18]:
# be careful not to overwrite a function, like with print
# del print # if yoy accidentally used the function as var

# lists tuples sets dictionaries
list1 = [1,3,4,6,7]
print(list1)

[1, 3, 4, 6, 7]

In [19]:
list1.append(3)

In [20]:
print(list1)

[1, 3, 4, 6, 7, 3]

In [21]:
# object.attribute(conditions)
# we cannot apply wrong methods or attributes to an object
# how many times value 3 appears in the list

list1.count(3)

2

In [23]:
print(list1)
list1.insert(1,5)
print(list1)

[1, 5, 3, 4, 6, 7, 3]
[1, 5, 5, 3, 4, 6, 7, 3]

In [24]:
# slicing, returns the slice you need, the position
list1[1]

5

In [25]:
# slising
list1[1:4]

[5, 5, 3]

In [27]:
# negative slising
print(list1)
list1[-1]

[1, 5, 5, 3, 4, 6, 7, 3]

3

In [28]:
# isolate values starting at the 4th last position, up to, but not including, the last value
print(list1)
list1[-4:-1]

[1, 5, 5, 3, 4, 6, 7, 3]

[4, 6, 7]

In [31]:
print(list1)
list1[0] == list1[-8]

[1, 5, 5, 3, 4, 6, 7, 3]

True

In [32]:
True + 5

6

In [33]:
False - 3

-3

In [34]:
# a single equal sign defines variable. double equal sign checks for equivalence
# != indcates not equal
print(x >= 7) # greater than or equal to
print(x <= 9) # less than or equal to

False
True

In [35]:
# more list operations
print(list1)
list1.index(4) # find the position

[1, 5, 5, 3, 4, 6, 7, 3]

4

In [36]:
list1.index(3) # but it shows only the first time smth appears

3

In [37]:
list1.extend([3,7,8,9,0])
print(list1)

[1, 5, 5, 3, 4, 6, 7, 3, 3, 7, 8, 9, 0]

In [41]:
list2 = [6,6,6,6]
list1.extend(list2)
print(list1)

[1, 5, 5, 3, 4, 6, 7, 3, 3, 7, 8, 9, 0, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6]

In [42]:
list1.pop(-1)

6

In [43]:
list1.remove(3)

In [44]:
list1

[1,
 5,
 5,
 4,
 6,
 7,
 3,
 3,
 7,
 8,
 9,
 0,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6]

In [45]:
list3 = list1

In [46]:
list3.append([89,76])
list3

[1,
 5,
 5,
 4,
 6,
 7,
 3,
 3,
 7,
 8,
 9,
 0,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 [89, 76]]

In [47]:
list1

[1,
 5,
 5,
 4,
 6,
 7,
 3,
 3,
 7,
 8,
 9,
 0,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 [89, 76]]

In [48]:
list3 = list1.copy() # to create a new version of a list, you need to use the copy() attribute
list3.remove([89,76]) # now you can edit list3 without impacting list1

list1.reverse()

In [49]:
print(list1)

[[89, 76], 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 0, 9, 8, 7, 3, 3, 7, 6, 4, 5, 5, 1]

In [50]:
list3.sort()
print(list3)

[0, 1, 3, 3, 4, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 8, 9]

In [51]:
sorted(list3) #temporary change
list3.sort()  #  permanent change)
print(list3)

[0, 1, 3, 3, 4, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 8, 9]

In [52]:
list3.sort(reverse=True)
print(list3)

[9, 8, 7, 7, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 5, 4, 3, 3, 1, 0]

In [53]:
# tuple
tuple1 = (1,7,8,9,0,87,6,8)

tuple1.count(8)
tuple1.index(8)

2

In [ ]:
# in a list we can chage a value, in a tuple we cannot