In [2]:
import pandas as pd

orders = pd.read_csv('https://raw.githubusercontent.com/delinai/uot_automation/main/customer_orders.csv')
am = pd.read_csv('https://raw.githubusercontent.com/delinai/uot_automation/main/account_managers.csv')

In [3]:
orders.head()

,order_date,customer_id,name,email,product_id,brand,next_action,delivery_date,delivery_route,account_manager
0,2022-01-01,1001,John Adams,john@email.com,12,ABC,NaN,NaN,NaN,NaN
1,2022-01-02,1002,Jorden Haas,jorden@email.com,13,Brand2,NaN,NaN,NaN,NaN
2,2022-01-03,1001,John Adams,john@email.com,13,Brand2,NaN,NaN,NaN,NaN
3,2022-01-04,1002,Jorden Haas,jorden@email.com,14,ABC,NaN,NaN,NaN,NaN
4,2022-01-05,1003,Pierce Glover,pierce@email.com,12,ABC,NaN,NaN,NaN,NaN

In [4]:
am.head()

    brand account_manager
0     ABC          Johnny
1  Brand2           Timmy
2      DT           Sammy

In [6]:
orders['order_date'] = pd.to_datetime(orders['order_date'])

In [7]:
updated_orders = pd.merge(left=orders, right=am, left_on='brand', right_on='brand')

In [8]:
updated_orders.drop('account_manager_x', axis=1, inplace=True)
updated_orders.rename(columns={'account_manager_y':'account_manager'}, inplace=True)

In [9]:
updated_orders

,order_date,customer_id,name,email,product_id,brand,next_action,delivery_date,delivery_route,account_manager
0,2022-01-01,1001,John Adams,john@email.com,12,ABC,NaN,NaN,NaN,Johnny
1,2022-01-04,1002,Jorden Haas,jorden@email.com,14,ABC,NaN,NaN,NaN,Johnny
2,2022-01-05,1003,Pierce Glover,pierce@email.com,12,ABC,NaN,NaN,NaN,Johnny
3,2022-01-06,1001,John Adams,john@email.com,14,ABC,NaN,NaN,NaN,Johnny
4,2022-01-07,1002,Jorden Haas,jorden@email.com,14,ABC,NaN,NaN,NaN,Johnny
5,2022-01-09,1004,Carly Copeland,carly@email.com,12,ABC,NaN,NaN,NaN,Johnny
6,2022-01-10,1002,Jorden Haas,jorden@email.com,12,ABC,NaN,NaN,NaN,Johnny
7,2022-01-13,1003,Pierce Glover,pierce@email.com,12,ABC,NaN,NaN,NaN,Johnny
8,2022-01-02,1002,Jorden Haas,jorden@email.com,13,Brand2,NaN,NaN,NaN,Timmy
9,2022-01-03,1001,John Adams,john@email.com,13,Brand2,NaN,NaN,NaN,Timmy
10,2022-01-08,1003,Pierce Glover,pierce@email.com,13,Brand2,NaN,NaN,NaN,Timmy
11,2022-01-11,1003,Pierce Glover,pierce@email.com,13,Brand2,NaN,NaN,NaN,Timmy
12,2022-01-12,1004,Carly Copeland,NaN,15,DT,NaN,NaN,NaN,Sammy
13,2022-01-14,1004,Carly Copeland,NaN,15,DT,NaN,NaN,NaN,Sammy

In [11]:
action_dict = {12:'Follow-up with Cx', 14:'Follow-up with Cx', 13:'Ship Product', 15:'Ship Product'}

In [12]:
updated_orders['next_action'] = updated_orders['product_id'].map(action_dict)

In [13]:
updated_orders

,order_date,customer_id,name,email,product_id,brand,next_action,delivery_date,delivery_route,account_manager
0,2022-01-01,1001,John Adams,john@email.com,12,ABC,Follow-up with Cx,NaN,NaN,Johnny
1,2022-01-04,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,NaN,NaN,Johnny
2,2022-01-05,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,NaN,NaN,Johnny
3,2022-01-06,1001,John Adams,john@email.com,14,ABC,Follow-up with Cx,NaN,NaN,Johnny
4,2022-01-07,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,NaN,NaN,Johnny
5,2022-01-09,1004,Carly Copeland,carly@email.com,12,ABC,Follow-up with Cx,NaN,NaN,Johnny
6,2022-01-10,1002,Jorden Haas,jorden@email.com,12,ABC,Follow-up with Cx,NaN,NaN,Johnny
7,2022-01-13,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,NaN,NaN,Johnny
8,2022-01-02,1002,Jorden Haas,jorden@email.com,13,Brand2,Ship Product,NaN,NaN,Timmy
9,2022-01-03,1001,John Adams,john@email.com,13,Brand2,Ship Product,NaN,NaN,Timmy
10,2022-01-08,1003,Pierce Glover,pierce@email.com,13,Brand2,Ship Product,NaN,NaN,Timmy
11,2022-01-11,1003,Pierce Glover,pierce@email.com,13,Brand2,Ship Product,NaN,NaN,Timmy
12,2022-01-12,1004,Carly Copeland,NaN,15,DT,Ship Product,NaN,NaN,Sammy
13,2022-01-14,1004,Carly Copeland,NaN,15,DT,Ship Product,NaN,NaN,Sammy

In [14]:
updated_orders.head()

,order_date,customer_id,name,email,product_id,brand,next_action,delivery_date,delivery_route,account_manager
0,2022-01-01,1001,John Adams,john@email.com,12,ABC,Follow-up with Cx,NaN,NaN,Johnny
1,2022-01-04,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,NaN,NaN,Johnny
2,2022-01-05,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,NaN,NaN,Johnny
3,2022-01-06,1001,John Adams,john@email.com,14,ABC,Follow-up with Cx,NaN,NaN,Johnny
4,2022-01-07,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,NaN,NaN,Johnny

In [16]:
for i in updated_orders['order_date']:
    print(i.day_name())

Saturday
Tuesday
Wednesday
Thursday
Friday
Sunday
Monday
Thursday
Sunday
Monday
Saturday
Tuesday
Wednesday
Friday

In [18]:
updated_orders['weekday_name'] = updated_orders['order_date'].dt.day_name()

In [19]:
updated_orders

,order_date,customer_id,name,email,product_id,brand,next_action,delivery_date,delivery_route,account_manager,weekday_name
0,2022-01-01,1001,John Adams,john@email.com,12,ABC,Follow-up with Cx,NaN,NaN,Johnny,Saturday
1,2022-01-04,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,NaN,NaN,Johnny,Tuesday
2,2022-01-05,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,NaN,NaN,Johnny,Wednesday
3,2022-01-06,1001,John Adams,john@email.com,14,ABC,Follow-up with Cx,NaN,NaN,Johnny,Thursday
4,2022-01-07,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,NaN,NaN,Johnny,Friday
5,2022-01-09,1004,Carly Copeland,carly@email.com,12,ABC,Follow-up with Cx,NaN,NaN,Johnny,Sunday
6,2022-01-10,1002,Jorden Haas,jorden@email.com,12,ABC,Follow-up with Cx,NaN,NaN,Johnny,Monday
7,2022-01-13,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,NaN,NaN,Johnny,Thursday
8,2022-01-02,1002,Jorden Haas,jorden@email.com,13,Brand2,Ship Product,NaN,NaN,Timmy,Sunday
9,2022-01-03,1001,John Adams,john@email.com,13,Brand2,Ship Product,NaN,NaN,Timmy,Monday
10,2022-01-08,1003,Pierce Glover,pierce@email.com,13,Brand2,Ship Product,NaN,NaN,Timmy,Saturday
11,2022-01-11,1003,Pierce Glover,pierce@email.com,13,Brand2,Ship Product,NaN,NaN,Timmy,Tuesday
12,2022-01-12,1004,Carly Copeland,NaN,15,DT,Ship Product,NaN,NaN,Sammy,Wednesday
13,2022-01-14,1004,Carly Copeland,NaN,15,DT,Ship Product,NaN,NaN,Sammy,Friday

In [22]:
import datetime
from datetime import date

In [21]:
def delivery_date(weekday_name, order_date):
    if weekday_name == 'Thursday':
        return order_date + datetime.timedelta(days=4)
    elif weekday_name == 'Friday':
        return order_date + datetime.timedelta(days=4)
    elif weekday_name == 'Saturday':
        return order_date + datetime.timedelta(days=3)
    else:
        return order_date + datetime.timedelta(days=2)

In [23]:
updated_orders['delivery_date'] = updated_orders.apply(lambda x: delivery_date(x['weekday_name'], x['order_date']), axis=1)

In [24]:
updated_orders

,order_date,customer_id,name,email,product_id,brand,next_action,delivery_date,delivery_route,account_manager,weekday_name
0,2022-01-01,1001,John Adams,john@email.com,12,ABC,Follow-up with Cx,2022-01-04,NaN,Johnny,Saturday
1,2022-01-04,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,2022-01-06,NaN,Johnny,Tuesday
2,2022-01-05,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,2022-01-07,NaN,Johnny,Wednesday
3,2022-01-06,1001,John Adams,john@email.com,14,ABC,Follow-up with Cx,2022-01-10,NaN,Johnny,Thursday
4,2022-01-07,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,2022-01-11,NaN,Johnny,Friday
5,2022-01-09,1004,Carly Copeland,carly@email.com,12,ABC,Follow-up with Cx,2022-01-11,NaN,Johnny,Sunday
6,2022-01-10,1002,Jorden Haas,jorden@email.com,12,ABC,Follow-up with Cx,2022-01-12,NaN,Johnny,Monday
7,2022-01-13,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,2022-01-17,NaN,Johnny,Thursday
8,2022-01-02,1002,Jorden Haas,jorden@email.com,13,Brand2,Ship Product,2022-01-04,NaN,Timmy,Sunday
9,2022-01-03,1001,John Adams,john@email.com,13,Brand2,Ship Product,2022-01-05,NaN,Timmy,Monday
10,2022-01-08,1003,Pierce Glover,pierce@email.com,13,Brand2,Ship Product,2022-01-11,NaN,Timmy,Saturday
11,2022-01-11,1003,Pierce Glover,pierce@email.com,13,Brand2,Ship Product,2022-01-13,NaN,Timmy,Tuesday
12,2022-01-12,1004,Carly Copeland,NaN,15,DT,Ship Product,2022-01-14,NaN,Sammy,Wednesday
13,2022-01-14,1004,Carly Copeland,NaN,15,DT,Ship Product,2022-01-18,NaN,Sammy,Friday

In [26]:
def update_date(x):
    delivery_date(x['weekday_name'],x['order_date'])

In [27]:
updated_orders

,order_date,customer_id,name,email,product_id,brand,next_action,delivery_date,delivery_route,account_manager,weekday_name
0,2022-01-01,1001,John Adams,john@email.com,12,ABC,Follow-up with Cx,2022-01-04,NaN,Johnny,Saturday
1,2022-01-04,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,2022-01-06,NaN,Johnny,Tuesday
2,2022-01-05,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,2022-01-07,NaN,Johnny,Wednesday
3,2022-01-06,1001,John Adams,john@email.com,14,ABC,Follow-up with Cx,2022-01-10,NaN,Johnny,Thursday
4,2022-01-07,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,2022-01-11,NaN,Johnny,Friday
5,2022-01-09,1004,Carly Copeland,carly@email.com,12,ABC,Follow-up with Cx,2022-01-11,NaN,Johnny,Sunday
6,2022-01-10,1002,Jorden Haas,jorden@email.com,12,ABC,Follow-up with Cx,2022-01-12,NaN,Johnny,Monday
7,2022-01-13,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,2022-01-17,NaN,Johnny,Thursday
8,2022-01-02,1002,Jorden Haas,jorden@email.com,13,Brand2,Ship Product,2022-01-04,NaN,Timmy,Sunday
9,2022-01-03,1001,John Adams,john@email.com,13,Brand2,Ship Product,2022-01-05,NaN,Timmy,Monday
10,2022-01-08,1003,Pierce Glover,pierce@email.com,13,Brand2,Ship Product,2022-01-11,NaN,Timmy,Saturday
11,2022-01-11,1003,Pierce Glover,pierce@email.com,13,Brand2,Ship Product,2022-01-13,NaN,Timmy,Tuesday
12,2022-01-12,1004,Carly Copeland,NaN,15,DT,Ship Product,2022-01-14,NaN,Sammy,Wednesday
13,2022-01-14,1004,Carly Copeland,NaN,15,DT,Ship Product,2022-01-18,NaN,Sammy,Friday

In [28]:
def day(x):
    return x.day

In [29]:
def update_date(x):
    delivery_date(x['weekday_name'],x['order_date'])
updated_orders['day_2'] = updated_orders['order_date'].apply(day)

In [30]:
updated_orders['day'] = updated_orders['order_date'].apply(lambda x: x.day)

In [31]:
updated_orders

,order_date,customer_id,name,email,product_id,brand,next_action,delivery_date,delivery_route,account_manager,weekday_name,day_2,day
0,2022-01-01,1001,John Adams,john@email.com,12,ABC,Follow-up with Cx,2022-01-04,NaN,Johnny,Saturday,1,1
1,2022-01-04,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,2022-01-06,NaN,Johnny,Tuesday,4,4
2,2022-01-05,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,2022-01-07,NaN,Johnny,Wednesday,5,5
3,2022-01-06,1001,John Adams,john@email.com,14,ABC,Follow-up with Cx,2022-01-10,NaN,Johnny,Thursday,6,6
4,2022-01-07,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,2022-01-11,NaN,Johnny,Friday,7,7
5,2022-01-09,1004,Carly Copeland,carly@email.com,12,ABC,Follow-up with Cx,2022-01-11,NaN,Johnny,Sunday,9,9
6,2022-01-10,1002,Jorden Haas,jorden@email.com,12,ABC,Follow-up with Cx,2022-01-12,NaN,Johnny,Monday,10,10
7,2022-01-13,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,2022-01-17,NaN,Johnny,Thursday,13,13
8,2022-01-02,1002,Jorden Haas,jorden@email.com,13,Brand2,Ship Product,2022-01-04,NaN,Timmy,Sunday,2,2
9,2022-01-03,1001,John Adams,john@email.com,13,Brand2,Ship Product,2022-01-05,NaN,Timmy,Monday,3,3
10,2022-01-08,1003,Pierce Glover,pierce@email.com,13,Brand2,Ship Product,2022-01-11,NaN,Timmy,Saturday,8,8
11,2022-01-11,1003,Pierce Glover,pierce@email.com,13,Brand2,Ship Product,2022-01-13,NaN,Timmy,Tuesday,11,11
12,2022-01-12,1004,Carly Copeland,NaN,15,DT,Ship Product,2022-01-14,NaN,Sammy,Wednesday,12,12
13,2022-01-14,1004,Carly Copeland,NaN,15,DT,Ship Product,2022-01-18,NaN,Sammy,Friday,14,14

In [32]:
# unit testing
assert day(date(2022,1,13)) == 13

In [33]:
updated_orders.drop('day_2', axis=1, inplace=True)

In [34]:
updated_orders

,order_date,customer_id,name,email,product_id,brand,next_action,delivery_date,delivery_route,account_manager,weekday_name,day
0,2022-01-01,1001,John Adams,john@email.com,12,ABC,Follow-up with Cx,2022-01-04,NaN,Johnny,Saturday,1
1,2022-01-04,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,2022-01-06,NaN,Johnny,Tuesday,4
2,2022-01-05,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,2022-01-07,NaN,Johnny,Wednesday,5
3,2022-01-06,1001,John Adams,john@email.com,14,ABC,Follow-up with Cx,2022-01-10,NaN,Johnny,Thursday,6
4,2022-01-07,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,2022-01-11,NaN,Johnny,Friday,7
5,2022-01-09,1004,Carly Copeland,carly@email.com,12,ABC,Follow-up with Cx,2022-01-11,NaN,Johnny,Sunday,9
6,2022-01-10,1002,Jorden Haas,jorden@email.com,12,ABC,Follow-up with Cx,2022-01-12,NaN,Johnny,Monday,10
7,2022-01-13,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,2022-01-17,NaN,Johnny,Thursday,13
8,2022-01-02,1002,Jorden Haas,jorden@email.com,13,Brand2,Ship Product,2022-01-04,NaN,Timmy,Sunday,2
9,2022-01-03,1001,John Adams,john@email.com,13,Brand2,Ship Product,2022-01-05,NaN,Timmy,Monday,3
10,2022-01-08,1003,Pierce Glover,pierce@email.com,13,Brand2,Ship Product,2022-01-11,NaN,Timmy,Saturday,8
11,2022-01-11,1003,Pierce Glover,pierce@email.com,13,Brand2,Ship Product,2022-01-13,NaN,Timmy,Tuesday,11
12,2022-01-12,1004,Carly Copeland,NaN,15,DT,Ship Product,2022-01-14,NaN,Sammy,Wednesday,12
13,2022-01-14,1004,Carly Copeland,NaN,15,DT,Ship Product,2022-01-18,NaN,Sammy,Friday,14

In [35]:
def delivery_route(x):
    if x >= 1 and x <= 10:
        return "UPS"
    elif x>=11 and x<=20:
        return "Canada Post"
    else:
        return "FedEx"

In [38]:
updated_orders['delivery_route'] = updated_orders['day'].apply(delivery_route)

In [39]:
updated_orders

,order_date,customer_id,name,email,product_id,brand,next_action,delivery_date,delivery_route,account_manager,weekday_name,day
0,2022-01-01,1001,John Adams,john@email.com,12,ABC,Follow-up with Cx,2022-01-04,UPS,Johnny,Saturday,1
1,2022-01-04,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,2022-01-06,UPS,Johnny,Tuesday,4
2,2022-01-05,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,2022-01-07,UPS,Johnny,Wednesday,5
3,2022-01-06,1001,John Adams,john@email.com,14,ABC,Follow-up with Cx,2022-01-10,UPS,Johnny,Thursday,6
4,2022-01-07,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,2022-01-11,UPS,Johnny,Friday,7
5,2022-01-09,1004,Carly Copeland,carly@email.com,12,ABC,Follow-up with Cx,2022-01-11,UPS,Johnny,Sunday,9
6,2022-01-10,1002,Jorden Haas,jorden@email.com,12,ABC,Follow-up with Cx,2022-01-12,UPS,Johnny,Monday,10
7,2022-01-13,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,2022-01-17,Canada Post,Johnny,Thursday,13
8,2022-01-02,1002,Jorden Haas,jorden@email.com,13,Brand2,Ship Product,2022-01-04,UPS,Timmy,Sunday,2
9,2022-01-03,1001,John Adams,john@email.com,13,Brand2,Ship Product,2022-01-05,UPS,Timmy,Monday,3
10,2022-01-08,1003,Pierce Glover,pierce@email.com,13,Brand2,Ship Product,2022-01-11,UPS,Timmy,Saturday,8
11,2022-01-11,1003,Pierce Glover,pierce@email.com,13,Brand2,Ship Product,2022-01-13,Canada Post,Timmy,Tuesday,11
12,2022-01-12,1004,Carly Copeland,NaN,15,DT,Ship Product,2022-01-14,Canada Post,Sammy,Wednesday,12
13,2022-01-14,1004,Carly Copeland,NaN,15,DT,Ship Product,2022-01-18,Canada Post,Sammy,Friday,14

In [40]:
updated_orders['email'] = updated_orders['email'].fillna('missing email')

In [41]:
updated_orders

,order_date,customer_id,name,email,product_id,brand,next_action,delivery_date,delivery_route,account_manager,weekday_name,day
0,2022-01-01,1001,John Adams,john@email.com,12,ABC,Follow-up with Cx,2022-01-04,UPS,Johnny,Saturday,1
1,2022-01-04,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,2022-01-06,UPS,Johnny,Tuesday,4
2,2022-01-05,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,2022-01-07,UPS,Johnny,Wednesday,5
3,2022-01-06,1001,John Adams,john@email.com,14,ABC,Follow-up with Cx,2022-01-10,UPS,Johnny,Thursday,6
4,2022-01-07,1002,Jorden Haas,jorden@email.com,14,ABC,Follow-up with Cx,2022-01-11,UPS,Johnny,Friday,7
5,2022-01-09,1004,Carly Copeland,carly@email.com,12,ABC,Follow-up with Cx,2022-01-11,UPS,Johnny,Sunday,9
6,2022-01-10,1002,Jorden Haas,jorden@email.com,12,ABC,Follow-up with Cx,2022-01-12,UPS,Johnny,Monday,10
7,2022-01-13,1003,Pierce Glover,pierce@email.com,12,ABC,Follow-up with Cx,2022-01-17,Canada Post,Johnny,Thursday,13
8,2022-01-02,1002,Jorden Haas,jorden@email.com,13,Brand2,Ship Product,2022-01-04,UPS,Timmy,Sunday,2
9,2022-01-03,1001,John Adams,john@email.com,13,Brand2,Ship Product,2022-01-05,UPS,Timmy,Monday,3
10,2022-01-08,1003,Pierce Glover,pierce@email.com,13,Brand2,Ship Product,2022-01-11,UPS,Timmy,Saturday,8
11,2022-01-11,1003,Pierce Glover,pierce@email.com,13,Brand2,Ship Product,2022-01-13,Canada Post,Timmy,Tuesday,11
12,2022-01-12,1004,Carly Copeland,missing email,15,DT,Ship Product,2022-01-14,Canada Post,Sammy,Wednesday,12
13,2022-01-14,1004,Carly Copeland,missing email,15,DT,Ship Product,2022-01-18,Canada Post,Sammy,Friday,14

In [42]:
# create 2 final lists: customers we need to follow up and ship
follow_up = updated_orders[(updated_orders['next_action'] == 'Follow-up with Cx') | (updated_orders['email'] == 'Missing Email')]

In [43]:
ship = updated_orders[(updated_orders['next_action'] == 'Ship Product') & (updated_orders['email'] != 'Missing Email')]

In [45]:
# ship.to_csv('users/filepath/file.csv')