In [7]:
import pandas as pd

In [16]:
rejections = pd.read_csv(r'C:\Users\Nata\Downloads\3967_Module 5_Data File_rejections.csv')

In [18]:
rejections

,date_received,ingredient_name,supplier,number_of_cases,units_per_case,sample_case_count1,sample_case_count2,sample_case_count3,sample_case_rejections1,sample_case_rejections2,sample_case_rejections3
0,10-Jun-21,tomato_cherry,ABC Vegetables,10,100,95,100,110,5,3,5
1,10-Jun-21,tomato_cherry,Tomato Land,20,500,440,480,500,10,0,25
2,10-Jun-21,tomato_vine,Tomato Land,25,100,100,100,100,0,0,0
3,10-Jun-21,tomato_vine,ABC Vegetables,10,100,100,98,101,0,0,0
4,10-Jun-21,cucumber_english,ABC Vegetables,14,50,51,50,51,10,0,0
5,10-Jun-21,cucumber_pickle,Dill Farms,15,50,50,50,50,0,0,0
6,11-Jun-21,bananas_organic,Banana Farms Inc,24,40,40,40,40,0,0,0
7,11-Jun-21,bananas_organic,ABC Vegetables,26,30,30,28,29,0,3,0
8,11-Jun-21,bananas_organic,Banana Farms Inc,20,30,30,30,30,0,0,0
9,11-Jun-21,apples_gala,Orchard Inc,20,90,90,94,90,1,4,5
10,11-Jun-21,apples_gala,Orchard Inc,5,90,90,90,90,0,0,3
11,11-Jun-21,apples_gs,Orchard Inc,1,80,80,82,80,2,0,5
12,13-Jun-21,apples_gala,Apple Farm,20,90,90,90,90,0,0,0
13,13-Jun-21,oranges_california,Cali Fruits,20,90,90,90,90,4,0,0
14,13-Jun-21,oranges_california,ABC Vegetables,40,100,100,102,101,0,0,3
15,13-Jun-21,grapes_red,Cali Fruits,20,35,30,35,30,4,0,0
16,13-Jun-21,grapes_green,Cali Fruits,10,35,35,35,30,5,5,3

In [22]:
rejections['Rejection_rate'] = rejections['sample_case_rejections1'] + rejections['sample_case_rejections2'] + rejections['sample_case_rejections3'] / rejections['sample_case_count1'] + rejections['sample_case_count2'] + rejections['sample_case_count3']

In [30]:
rejections

,date_received,ingredient_name,supplier,number_of_cases,units_per_case,sample_case_count1,sample_case_count2,sample_case_count3,sample_case_rejections1,sample_case_rejections2,sample_case_rejections3,rejection rate,rejection_rate
0,10-Jun-21,tomato_cherry,ABC Vegetables,10,100,95,100,110,5,3,5,218.052632,218.052632
1,10-Jun-21,tomato_cherry,Tomato Land,20,500,440,480,500,10,0,25,990.056818,990.056818
2,10-Jun-21,tomato_vine,Tomato Land,25,100,100,100,100,0,0,0,200.000000,200.000000
3,10-Jun-21,tomato_vine,ABC Vegetables,10,100,100,98,101,0,0,0,199.000000,199.000000
4,10-Jun-21,cucumber_english,ABC Vegetables,14,50,51,50,51,10,0,0,111.000000,111.000000
5,10-Jun-21,cucumber_pickle,Dill Farms,15,50,50,50,50,0,0,0,100.000000,100.000000
6,11-Jun-21,bananas_organic,Banana Farms Inc,24,40,40,40,40,0,0,0,80.000000,80.000000
7,11-Jun-21,bananas_organic,ABC Vegetables,26,30,30,28,29,0,3,0,60.000000,60.000000
8,11-Jun-21,bananas_organic,Banana Farms Inc,20,30,30,30,30,0,0,0,60.000000,60.000000
9,11-Jun-21,apples_gala,Orchard Inc,20,90,90,94,90,1,4,5,189.055556,189.055556
10,11-Jun-21,apples_gala,Orchard Inc,5,90,90,90,90,0,0,3,180.033333,180.033333
11,11-Jun-21,apples_gs,Orchard Inc,1,80,80,82,80,2,0,5,164.062500,164.062500
12,13-Jun-21,apples_gala,Apple Farm,20,90,90,90,90,0,0,0,180.000000,180.000000
13,13-Jun-21,oranges_california,Cali Fruits,20,90,90,90,90,4,0,0,184.000000,184.000000
14,13-Jun-21,oranges_california,ABC Vegetables,40,100,100,102,101,0,0,3,203.030000,203.030000
15,13-Jun-21,grapes_red,Cali Fruits,20,35,30,35,30,4,0,0,69.000000,69.000000
16,13-Jun-21,grapes_green,Cali Fruits,10,35,35,35,30,5,5,3,75.085714,75.085714

In [26]:
def threshold(x,y,z):
    if x >= 0:
        return f'Hi {z}, you have {x*100}% rejected of {y} products'

In [31]:
rejections['Notifications'] = rejections.apply(lambda x: threshold(x['rejection_rate'], x['ingredient_name'], x['supplier']), axis=1)

In [33]:
list_1 = []
for i in rejections['supplier']:
    list_1.append(i)

In [37]:
list_1

['ABC Vegetables',
 'Tomato Land',
 'Tomato Land',
 'ABC Vegetables',
 'ABC Vegetables',
 'Dill Farms',
 'Banana Farms Inc',
 'ABC Vegetables',
 'Banana Farms Inc',
 'Orchard Inc',
 'Orchard Inc',
 'Orchard Inc',
 'Apple Farm',
 'Cali Fruits',
 'ABC Vegetables',
 'Cali Fruits',
 'Cali Fruits']

In [35]:
set1 = set(list_1)

In [38]:
set1

{'ABC Vegetables',
 'Apple Farm',
 'Banana Farms Inc',
 'Cali Fruits',
 'Dill Farms',
 'Orchard Inc',
 'Tomato Land'}

In [40]:
rejections.set_index('supplier',inplace=True)

In [50]:
for i in set1:
   rejections.loc[i].to_csv(fr"C:\Users\Nata\Downloads\forgroup\{i}.csv")